.App-header {
    background-color: rgb(192,199,129);
    min-height: 8vh;
    height: 8vh;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: rgb(31,36,22);
  }

  #title {
    flex:2;
  }

  #navMenuButton {
    height: 4vh;
    width: 4vh;
    
    margin-right: 2vw;
    background-color: rgba(100, 94, 94, 0);
    border: none;
    
  }

  #navMenuButton:focus {
    outline: 0;
  }