.mainBody {
    background-color: rgb(166,207,213);
    margin: 0;
    
}

.mainOne {
    background-color: rgb(166,207,213);
    height: 92vh;
}

.mainTwo {
    background-color: rgb(136,162,170);
    height: 92vh;
}