#navMenu {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: rgba(173,162,150, 0.5);
    width: 60vw;
    position: absolute;
    top: 5vh;
    right: 15vw;
    border-radius: 5px;
    
}

.navSubMenuButton {
    background-color: rgba(173,162,150, 0.9);
    height: 5vh;
    border: none;
    border-bottom: 1px solid blue;
}

.navSubMenuButton:focus {
    outline: none;
}

.subMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

@media only screen and (min-width: 650px) {
    #navMenu {
        width: 20vw;
    }
}